:root {
  --Purple: hsl(259, 100%, 65%);
  --Light-Red: hsl(0, 100%, 67%);

  --White: hsl(0, 0%, 100%);
  --Off-white: hsl(0, 0%, 94%);
  --Light-grey: hsl(0, 0%, 86%);
  --Smokey-grey: hsl(0, 1%, 44%);
  --Off-black: hsl(0, 0%, 8%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: var(--Off-white);
}

.container {
  background-color: var(--White);
  width: 500px;
  max-width: 100%;
  padding: 30px;
  position: relative;
  border-bottom-right-radius: 150px;
}

input {
  width: 70px;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid var(--Off-white);
  /* border: none; */
  outline: none;
}

input:focus {
  border: 2px solid var(--Purple);
}

small {
  color: red;
  font-size: 0.6rem;
  font-weight: bold;
  text-transform: capitalize;
}

.submit-btn {
  width: 70px;
  height: 70px;
  padding: 20px;
  display: flex;
  background-color: var(--Purple);
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  position: absolute;
  right: 30px;
  top: 80px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: black;
}

.output span {
  font-size: 2.75rem;
  color: var(--Purple);
  font-style: italic;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-bottom: 20px;
}
.input-flex {
  display: flex;
  border-bottom: 2px solid var(--Off-white);
  margin-bottom: 20px;
}

.icon {
  font-size: 42px;
  color: white;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 576px) {
  .container {
    padding: 15%;
    width: 300px;
  }
  .input-container {
    margin-left: 5px;
  }
}
